.myInput {
  width: 50%;
}

.mySelect {
  background: #1e2023;
  color: white;
  width: 50%;
}

.myDiv {
  width: 100%;
  display: inline-flex;
}

.odd {
  background: #ababab;
}

.even {
  background: cadetblue;
}